.App {
  text-align: center;
  background: rgba(0,0,0,0.1);
  height: 100vh;
}

.header,
.bottom-header {
  height: 60px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header {
  justify-content: flex-end;
  background-color: tomato;
}

.header-logo {
  max-width: 25vw;
}

.bottom-header {
  justify-content: flex-start;
  background-color: white;
}

.globe-background {
  background: url('./background.svg') no-repeat center left fixed;
}

.page {
  background-size: cover;
  height: calc(100vh - 120px);
  width: 100vw;
  overflow: auto;
}