.home {
  height: calc(100vh - 60px);
}

.home-logo-container {
  width: 35vw;
  padding: 40px;
  background: white;
  border: 4px solid tomato;
  outline: 6px solid white;
}

.home-logo-container > img {
  width: 100%;
  color: rgba(0,0,0,0.8);
}

@media (max-width : 768px) {
  .home-logo-container {
    width: 80vw;
  }
}