.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2000;
  width: 50px;
  height: 50px;  
}

.spinner > .path {
  stroke: tomato;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.spinner-wrapper {
  position: absolute;
  height: calc(100vh - 120px);
  bottom: 0;
  width: 100vw;
  background: white;
  z-index: 1000;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-hidden {
  opacity: 0;
  pointer-events: none;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}